body {
    background-color: #f0f0f0;
    color: #878787;
}

a {
    text-decoration: none;
    color: #878787;
    cursor: pointer;
}

input, textarea {
    width: 280px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #e2e2e2;
    font: 16px serif;
}

input {
    height: 20px;
}

textarea {
    height: 100px;
}

.section {
    height: 223px;
    width: 225px;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    color: #222222;
    font: 18px sans-serif;
}

.section img {
    height: 183px;
    width: 225px;
    margin-bottom: 10px;
}

.bottom_column {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.bottom_column_header {
    height: 20px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    background-color: #ffffff;
    color: #222222;
    font: 18px sans-serif;
}

.popular_posts {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.popular_posts img {
    height: 60px;
    width: 60px;
    border: 5px solid #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.popular_posts div {
    padding-left: 15px;
    font: 14px serif;
}

.popular_posts h6 {
    margin: 0 0 10px 0;
    font: 14px sans-serif;
}

.twitter {
    padding-bottom: 15px;
    margin-top: 15px;
    border-bottom: #e2e2e2 solid 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font: 15px/1.8 serif;
}

.twitter img {
    margin-top: 4px;
}

.twitter div {
    margin-left: 12px;
}

.twitter a {
    color: #ad6069;
}

.twitter_last {
    border-bottom: none;
}

#page {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

#header, #top {
    padding: 28px 0;
    border-bottom: #e2e2e2 solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    display: flex;
    flex-direction: row-reverse;
    font: bold 11px sans-serif;
}

#navigation a {
    margin-left: 14px;
}

#navigation a:hover, #active {
    color: #ad6069;
}

#top {
    font-size: 24px;
}

#socials {
    width: 212px;
    padding-left: 28px;
    border-left: #e2e2e2 solid 1px;
    display: flex;
    flex-direction: column;
    font: 18px sans-serif;
}

#icons {
    margin: 10px 0 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content {
    padding: 38px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#bottom {
    padding: 54px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#footer_line {
    position: relative;
    top: -34px;
}

#button {
    height: auto;
    width: 100px;
    background-color: #555555;
    color: #e2e2e2;
}

#footer {
    padding: 10px 0;
    background-color: #222222;
    font: 14px serif;
}

#footer div {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer a {
    height: 31px;
    width: 31px;
    background: #000000 url(../img/icon-top.png) 0 0;
}

#footer a:hover {
    height: 31px;
    width: 31px;
    background: #000000 url(../img/icon-top.png) 0 -31px;
}