body {
    margin: 0px auto;
    padding: 0px;
    width: 960px;
    background-color: #f0f0f0;
    color: #878787;
}

a {
    text-decoration: none;
}

input {
    border: none;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #e2e2e2;
    height: 40px;
    font-family: Serif;
    font-size: 16px;
}

textarea {
    border: none;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #e2e2e2;
    height: 120px;
    font-family: Serif;
    font-size: 16px;
}

.clear {
    clear: both;
}

.photo {
    background-color: #ffffff;
    text-align: center;
    height: 223px;
    width: 225px;
    float: left;
    margin: 0px 20px 20px 0px;
    font-family: Verdana;
    color: #222222;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.photo img {
    height: 183px;
    width: 225px;
    margin-bottom: 10px;
}

.photo_last {
    margin-right: 0px;
}

.blog_column {
    float: left;
    width: 300px;
}

.blog_column_center {
    margin: 0px 30px;
}

.blog_column_header {
    background-color: #ffffff;
    height: 20px;
    padding: 10px;
    font-family: Verdana;
    color: #222222;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

.popular_posts {
    margin-top: 15px;
}

.popular_posts img {
    margin-right: 10px;
}

#header, #top {
    padding: 28px 0px;
    border-bottom: #e2e2e2 solid 1px;
}

#logo {
    float: left;
}

#navigation {
    float: right;
    margin: auto 0px;
}

#navigation a {
    float: right;
    margin-left: 20px;
    cursor: pointer;
}

#navigation a:hover, #active {
    color: #ad6069;
}

#text {
    float: left;
    font-size: 24px;
}

#socials {
    float: right;
    width: 212px;
    border-left: #e2e2e2 solid 1px;
    padding-left: 28px;
    font-family: Verdana;
}

#socials img {
    margin: 10px 4px 0px 0px;
}

#content {
    padding: 38px 0px;
}

#bottom {
    padding: 54px 0px;
}

#bottom img {
    top: -54px;
    position: relative;
}

#button {
    background-color: #222222;
    color: #e2e2e2;
    width: 30%;
}